force-app/main/default/flows/Bookkeeping_Complete_Unallocated_Transaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Prepare_Ledger_Line</name>
        <label>Prepare Ledger Line</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ledgerLine.Journal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Journal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ledgerLine.Ledger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Ledger_Line.Ledger.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ledgerLine.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Ledger_Line.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ledgerLine.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Journal.Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ledgerLine.Credit_Debit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Ledger_Line.Credit_Debit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ledgerLine.Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Ledger_Line.Reference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ledgerLine.Transaction_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transactionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ledgerLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ledgerLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Ledger_Line</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Credit</name>
        <choiceText>Credit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Debit</name>
        <choiceText>Debit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Debit</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Journal_Found</name>
        <label>Journal Found?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Error_E01_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Journal_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Journal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Ledger_Lines</targetReference>
            </connector>
            <label>Yes - Journal Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>creditDebit</name>
        <dataType>String</dataType>
        <expression>IF({!creditBalance} &gt; {!debitBalance}, &apos;Debit&apos;, &apos;Credit&apos;)</expression>
    </formulas>
    <formulas>
        <name>journalBalance</name>
        <dataType>Currency</dataType>
        <expression>IF({!creditBalance} &lt; {!debitBalance}, {!debitBalance} - {!creditBalance}, {!creditBalance} - {!debitBalance})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>transactionId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Journal.Transaction_Id__c}),{!Get_Journal.Id},{!Get_Journal.Transaction_Id__c})</expression>
    </formulas>
    <interviewLabel>Bookkeeping - Complete Unallocated Transaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bookkeeping - Complete Unallocated Transaction</label>
    <loops>
        <name>For_Each_Ledger_Line</name>
        <label>For Each Ledger Line</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <collectionReference>Ledger_Lines.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Prepare_Ledger_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Ledger_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Ledger_Lines</name>
        <label>Insert Ledger Lines</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Get_Updated_Journal</targetReference>
        </connector>
        <inputReference>ledgerLines</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Journal</name>
        <label>Get Journal</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Journal_Found</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_E01_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Journal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ledger_Lines</name>
        <label>Get Ledger Lines</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Journal_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Journal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Journal.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Ledger_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Journal</name>
        <label>Get Updated Journal</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Updated_Ledger_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Journal.Id</elementReference>
            </value>
        </filters>
        <object>Journal__c</object>
        <outputAssignments>
            <assignToReference>creditBalance</assignToReference>
            <field>Credit__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>debitBalance</assignToReference>
            <field>Debit__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Ledger_Lines</name>
        <label>Get Updated Ledger Lines</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Journal_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Journal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Journal.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Ledger_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Journal</name>
        <label>Update Journal</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>For_Each_Ledger_Line</targetReference>
        </connector>
        <inputReference>Get_Journal</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_E01_Screen</name>
        <label>Error E01 Screen</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Journal</targetReference>
        </connector>
        <fields>
            <name>errorE01Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;Error E01: Issue Retrieving Journal&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Journal_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Journal__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Ledger</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Ledger_Line__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Journal_Screen</name>
        <label>Journal Screen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Journal</targetReference>
        </connector>
        <fields>
            <name>Journal_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Journal_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Journal.Date__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Journal.Reference__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Journal.Transaction_Id__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Journal_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Journal.Type__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Journal.Sub_Type__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Journal_Balances</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Credit: {!creditBalance}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Debit: &lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!debitBalance}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Ledger_Lines_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Ledger_Line__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Ledger Lines</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Ledger_Lines</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Ledger__c&quot;,&quot;guid&quot;:&quot;column-ba38&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Ledger&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Reference__c&quot;,&quot;guid&quot;:&quot;column-ea24&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Reference&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Credit_Debit__c&quot;,&quot;guid&quot;:&quot;column-aa11&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Credit / Debit&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount__c&quot;,&quot;guid&quot;:&quot;column-9b83&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Ledger_Lines</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Ledger</name>
                <extensionName>flowruntime:lookup</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>fieldApiName</name>
                    <value>
                        <stringValue>Ledger__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Ledger</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>objectApiName</name>
                    <value>
                        <stringValue>Ledger_Line__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>disabled</name>
                    <value>
                        <booleanValue>false</booleanValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>maxValues</name>
                    <value>
                        <numberValue>1.0</numberValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>required</name>
                    <value>
                        <booleanValue>true</booleanValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
            </fields>
            <fields>
                <name>Credit_Debit</name>
                <choiceReferences>Credit</choiceReferences>
                <choiceReferences>Debit</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>creditDebit</elementReference>
                </defaultValue>
                <fieldText>Credit / Debit</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Amount</name>
                <dataType>Currency</dataType>
                <defaultValue>
                    <elementReference>journalBalance</elementReference>
                </defaultValue>
                <fieldText>Amount</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>2</scale>
            </fields>
            <fields>
                <name>Reference</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Journal.Reference__c</elementReference>
                </defaultValue>
                <fieldText>Reference</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>journalBalance</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Journal_Screen</name>
        <label>Update Journal Screen</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Update_Journal_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Journal Updated&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Credit: {!creditBalance}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Debit: &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!debitBalance}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Updated_Ledger_Lines</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Ledger_Line__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Ledger Lines</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Updated_Ledger_Lines</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Ledger__c&quot;,&quot;guid&quot;:&quot;column-8f91&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Ledger&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Reference__c&quot;,&quot;guid&quot;:&quot;column-b4fe&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Reference&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Credit_Debit__c&quot;,&quot;guid&quot;:&quot;column-69d5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Credit / Debit&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount__c&quot;,&quot;guid&quot;:&quot;column-73fb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Journal</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>creditBalance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Get_Journal.Credit__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>debitBalance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Get_Journal.Debit__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>ledgerLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ledger_Line__c</objectType>
    </variables>
    <variables>
        <name>ledgerLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ledger_Line__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
