force-app/main/default/flows/Finance_Account_Create_Ledger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Prepare_Journal</name>
        <label>Prepare Journal</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>journal.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>journal.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Balance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>journal.Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opening</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>journal.Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!ledger.Name} Opening Balance</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Journal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Line_for_Balance_Ledger</name>
        <label>Prepare Line for Balance Ledger</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>ledgerLine.Ledger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Temp_Get_Opening_Balance_Ledger.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ledgerLine.Credit_Debit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opposingBalanceType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ledgerLine.Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ledger.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ledgerLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ledgerLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Ledger_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Line_for_New_Ledger</name>
        <label>Prepare Line for New Ledger</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ledgerLine.Journal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>journal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ledgerLine.Ledger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ledger.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ledgerLine.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Balance_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ledgerLine.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>journal.Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ledgerLine.Credit_Debit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Balance_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ledgerLine.Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opening Balance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ledgerLine.Transaction_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>journal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ledgerLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ledgerLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Temp_Get_Opening_Balance_Ledger</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Finance_Account_Id</name>
        <label>Set Finance Account Id</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>ledger.Finance_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>journal.Finance_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ledger_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Ledger_Id</name>
        <label>Set Ledger Id</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ledger.Ledger_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ledgerIdFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Ledger</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Credit</name>
        <choiceText>Credit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Debit</name>
        <choiceText>Debit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Debit</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Create_Another_Ledger_Decision</name>
        <label>Create Another Ledger?</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Another_Ledger</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Another_Ledger</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Ledger_Screen</targetReference>
            </connector>
            <label>Yes - Create Another Ledger</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Opening_Balance_Journal_Decision</name>
        <label>Create Opening Balance Journal?</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Ledger_Result_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Opening_Balance_Journal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Balance_Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_Journal</targetReference>
            </connector>
            <label>Yes - Create Opening Balance Journal</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ledgerIdFormula</name>
        <dataType>String</dataType>
        <expression>{!Get_Ledger_Type_Configuration.Id_Prefix__c}+{!Ledger_Id}</expression>
    </formulas>
    <formulas>
        <name>opposingBalanceType</name>
        <dataType>String</dataType>
        <expression>IF({!Balance_Type}=&apos;Credit&apos;,&apos;Debit&apos;,&apos;Credit&apos;)</expression>
    </formulas>
    <interviewLabel>Finance Account - Create Ledger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Finance Account - Create Ledger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Journal</name>
        <label>Create Journal</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Prepare_Line_for_New_Ledger</targetReference>
        </connector>
        <inputReference>journal</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Ledger</name>
        <label>Create Ledger</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Create_Opening_Balance_Journal_Decision</targetReference>
        </connector>
        <inputReference>ledger</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Ledger_Lines</name>
        <label>Create Ledger Lines</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Ledger_Result_Screen</targetReference>
        </connector>
        <inputReference>ledgerLines</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Ledger_Type_Configuration</name>
        <label>Get Ledger Type Configuration</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Ledger_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ledger.Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ledger_Type_Configuration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Temp_Get_Opening_Balance_Ledger</name>
        <label>Temp: Get Opening Balance Ledger</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prepare_Line_for_Balance_Ledger</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sub_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Balance</stringValue>
            </value>
        </filters>
        <filters>
            <field>Term__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ledger.Term__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ledger__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Ledger_Result_Screen</name>
        <label>Ledger Result Screen</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Another_Ledger_Decision</targetReference>
        </connector>
        <fields>
            <name>Ledger_Result_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Ledger_Result_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LedgerDetails1</name>
                    <fieldText>&lt;p&gt;Ledger Name: {!ledger.Name}&lt;/p&gt;&lt;p&gt;Ledger Id: &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!ledger.Ledger_Id__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Ledger_Result_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LedgerDetails2</name>
                    <fieldText>&lt;p&gt;Type: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ledger.Type__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Sub-Type: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ledger.Sub_Type__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Ledger_Lines</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Ledger_Line__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Ledger Lines</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ledgerLines</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Ledger__c&quot;,&quot;guid&quot;:&quot;column-d362&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Ledger&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Reference__c&quot;,&quot;guid&quot;:&quot;column-9dfb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Reference&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Credit_Debit__c&quot;,&quot;guid&quot;:&quot;column-0aee&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Credit / Debit&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount__c&quot;,&quot;guid&quot;:&quot;column-99af&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Yes_Create_Opening_Balance_Journal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Create_Another_Ledger</name>
            <dataType>Boolean</dataType>
            <fieldText>Create Another Ledger?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ledger_Screen</name>
        <label>Ledger Screen</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Ledger_Type_Configuration</targetReference>
        </connector>
        <fields>
            <name>Ledger_Details</name>
            <fieldText>Ledger Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Ledger_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ledger.Name</objectFieldReference>
                </fields>
                <fields>
                    <name>Ledger_Id</name>
                    <dataType>String</dataType>
                    <fieldText>Last 4 Digits of Ledger Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Ledger_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ledger.Type__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ledger.Sub_Type__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ledger.Term__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Opening_Balance</name>
            <fieldText>Opening Balance</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opening_Balance_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Balance_Type</name>
                    <choiceReferences>Credit</choiceReferences>
                    <choiceReferences>Debit</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Balance Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opening_Balance_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Balance_Amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Balance Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ledger.Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Asset</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ledger.Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Liability</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Finance_Account_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>journal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Journal__c</objectType>
    </variables>
    <variables>
        <name>ledger</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ledger__c</objectType>
    </variables>
    <variables>
        <name>ledgerLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ledger_Line__c</objectType>
    </variables>
    <variables>
        <name>ledgerLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ledger_Line__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
